*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background: #000;
}

.container{
    background: rgb(43, 41, 41);
    box-sizing: border-box;
}

.container-header{
    width: 100%;
    max-height: 170vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), url(images/header-image.png);
    background-size: cover;
    background-position: center;
}

.header{
    position: relative;
    top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px 2%;
}

.navbar{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.login{
    background-color: #e50914;
    display: flex;
    align-items: center;
    width: 60px;
    justify-content: center;
    border-radius: 4px;
}

.login>a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.login:hover{
    background-color: #aa0d15;
}

img.logo{
    width: 140px;
}

select.pilihBahasa1{
    background-color: transparent;
    color: white;
    padding: 6px;
    border-radius: 4px;
    appearance: none;
    background-image: url(images/down-icon.png);
    background-repeat: no-repeat;
    background-position: 120px center;
    padding-right: 20px;
    background-size: 8px;
}

.text{
    text-align: center;
    width: 85%;
    color: white;
    margin: 100px auto 25px;
}

.text h1{
    font-size: 45px;
    word-spacing: 6px;
}

.input-email{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    padding-bottom: 120px;
}

button{
    width: 100px;
    height: 50px;
    background-color: #e50914;
    color: white;
    outline: none;
    border: 0;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
}

button:hover{
    background-color: #aa0d15;
}

#email{
    width: 500px;
    height: 50px;
    border-radius: 8px;
    background: rgba(0,0,0,.5);
    border: 1px solid white;
    outline: none;
    font-size: 17px;
    color: white;
    text-indent: 7px;
}

.container-main{
    width: 100%;
    max-height: 170vh;
    background: rgb(0, 0, 0);
    margin: 8px 0;
    box-sizing: border-box;
    padding: 73px 30px;
    display: flex;
}

.alltext{   
    color: white;
    width: 46%;
    margin: auto;
}

.alltext h1{
    font-size: 50px;
}

.alltext .main-text{
    font-size: 20px;
}

.gambar-feature1{
    width: 46%;
    margin: auto;

}

img.feature-1{
    width: 100%;
}

.container-main2{
    width: 100%;
    max-height: 170vh;
    background: rgb(0, 0, 0);
    margin: 8px 0;
    box-sizing: border-box;
    padding: 92px 40px;
    display: flex;
    flex-direction: row-reverse;
}

.alltext2{
    color: white;
    width: 48%;
    margin: auto;
}

.alltext2 h1{
    font-size: 50px;
}

.main-text2{
    font-size: 20px;
}

.gambar-feature2{
    width: 44%;
    margin: auto;
    object-position: center;
    overflow: hidden;

}

.feature-2{
    width: 100%;
}

.container-main3{
    width: 100%;
    max-height: 170vh;
    background: rgb(0, 0, 0);
    margin: 8px 0;
    box-sizing: border-box;
    padding: 85px 30px;
    display: flex;
    
}

.alltext3{
    color: white;
    width: 45%;
    margin: auto;
}

.alltext3 h1{
    font-size: 50px;
}

.main-text3 p{
    font-size: 20px;
}

.gambar-feature3{
    width: 47%;
    margin: auto;
}

.feature-3{
    width: 100%;
}

.container-main4{
    width: 100%;
    max-height: 170vh;
    background: rgb(0, 0, 0);
    margin: 8px 0;
    box-sizing: border-box;
    padding: 79px 40px;
    display: flex;
    flex-direction: row-reverse;
}

.alltext4{
    color: white;
    width: 49%;
    margin: auto;
}

.alltext4 h1{
    font-size: 50px;
}

.main-text4 p{
    font-size: 20px;
}

.gambar-feature4{
    width: 47%;
    margin: auto;
}

.feature-4{
    width: 100%;
}

.container-TJ {
    width: 100%;
    max-height: 1000vh;
    background: rgb(0, 0, 0);
    margin: 8px 0;
    box-sizing: border-box;
    padding: 30px 30px 0 30px;
    color: white;
    text-align: center;
}

.container-TJ h1 {
    font-size: 40px;
}

.pertanyaan {
    margin: 30px auto;
    width: 100%;
    max-width: 1500px;
}

.pertanyaan li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.pertanyaan li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 23px;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

.pertanyaan li label p{
    font-size: 23px;
    width: 94%;
    text-align: start;
}

.pertanyaan li label:hover{
    background: #545353;
}

ul label::after {
    content: "+";
    font-size: 34px;
    position: absolute;
    right: 20px;
}

input[type="radio"] {
    display: none;
}

.pertanyaan .jawaban {
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
}

input[type="radio"]:checked ~ .jawaban {
    max-height: 600px;
    padding: 30px 20px;
}

input[type="radio"]:checked + label::after {
    transform: rotate(45deg);
}


.container-TJ .input-email2{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;
    margin-bottom: 0px;
}

.container-TJ p.text-tj{
    font-size: 17px;
}

#email2{
    width: 500px;
    height: 50px;
    border-radius: 8px;
    background: rgba(0,0,0,.5);
    border: 1px solid white;
    outline: none;
    font-size: 17px;
    color: white;
    text-indent: 7px;
}

.container-TJ p{
    font-size: 20px;
}

.footer{
    width: 100%;
    height: 69vh;
    background: rgb(0, 0, 0);
    margin: 8px 0;
    box-sizing: border-box;
    padding: 60px 30px;
    color: white;
}

.footer p{
    color: rgba(209, 198, 198, 0.793);
}

.footer p span{
    cursor: pointer;
    text-decoration: underline;
}

.footer .container-col{
    margin-top: 20px;
    
}

.container-col ul{
    display: grid;
    list-style: none;
    grid-template-columns: repeat(4,1fr);
}

.container-col ul li{
    max-height: 100px;
    padding: 5px 0;
}

.container-col ul li a{
    color: rgba(209, 198, 198, 0.793);
    font-size: 13px;
}

select.pilihBahasa2{
    background-color: transparent;
    font-size: 15px;
    text-align: center;
    width: 200px;
    color: white;
    padding: 5px;
    border-radius: 4px;
    appearance: none;
    background-image: url(images/down-icon.png);
    background-repeat: no-repeat;
    background-position: 177px center;
    padding-right: 20px;
    background-size: 8px;
    margin: 15px 0;
}

p.text-akhir{
    font-size: 13px;
}

@media screen and (max-width: 305.33px) {
    .container-header{
        max-height: 1000vh;
    }

    .text{
        width: 90%;
        margin-top: 70px;
    }

    .header{
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding-left: 35px;
    }

    img.logo{
        width: 120px;
        margin-bottom: 10px;
    }

    select.pilihBahasa1{
        width: 70px;
        height: 30px;
        color: transparent;
        background-position: 10px ;
    }

    .login a{
        font-size: 12px;
    }

    .text h1{
        font-size: 25px;
        word-spacing: 0;
    }

    .text h2, .text h3{
        font-size: 18px;
    }

    .input-email form.form1{
        width: 80%;
    }

    .input-email{
        flex-direction: column;
        align-items: center;
    }

    #email{
        width: 100%;
    }
}

@media screen and (max-width: 599.33px) {
    .container-TJ{
        max-height: 1000vh;
    }

    .input-email2{
        flex-direction: column;
        align-items: center;
    }

    form.form2{
        width: 80%;
    }

    #email2{
        width: 100%;
    }
}

@media (min-width: 306px) and (max-width:600px){
    .container-header{
        max-height: 1000vh;
    }

    img.logo{
        width: 120px;
    }

    .text{
        width: 90%;
        margin-top: 70px;
    }

    .text h1{
        font-size: 25px;
        word-spacing: 0;
    }

    select.pilihBahasa1{
        width: 70px;
        height: 30px;
        color: transparent;
        background-position: 10px ;
    }

    .login a{
        font-size: 12px;
    }

    .text h2, .text h3{
        font-size: 18px;
    }

    .input-email form{
        width: 80%;
    }

    .input-email{
        flex-direction: column;
        align-items: center;
    }

    #email{
        width: 100%;
    }
}

@media screen and (max-width: 717.33px) {
    .container-main, .container-main2, .container-main3, .container-main4{
        display: flex;
        flex-direction: column;
    }
    
    .container-main .alltext, .alltext3{
        width: 90%;
        text-align: center;
    }

    .container-main .alltext h1, .alltext3 h1{
        font-size: 30px;
    }

    .gambar-feature1, .gambar-feature2{
        width: 85%;
    }

    .container-main2 .alltext2{
        width: 93%;
        text-align: center;
        margin-bottom: 70px;
    }

    .alltext2 h1{
        text-align: center;
        font-size: 27px;
    }

    .alltext2 p{
        font-size: 14px;
    }

    .gambar-feature3{
        width: 98%;
    }

    .container-main3 .alltext3 p{
        font-size: 16px;
    }

    .container-main3{
        padding-top: 70px;
    }

    .alltext3{
        margin-bottom: 30px;
    }

    .container-main4{
        padding-top: 70px;
    }

    .alltext4{
        margin-bottom: 30px;
    }

    .alltext4{
        width: 95%;
        text-align: center;
        margin-bottom: 20px;
    }

    .alltext4 h1{
        font-size: 30px;
    }

    .alltext4 p{
        font-size: 15px;
    }

    .gambar-feature4{
        width: 97%;
    }
}

@media (min-width: 601px) and (max-width: 959.33px){
    .text{
        width: 90%;
    }

    .text h1{
        font-size: 25px;
        word-spacing: 0;
    }

    img.logo{
        width: 120px;
    }
}

@media (min-width: 718px) and (max-width: 959.33px) {
    .container-main, .container-main2, .container-main3, .container-main4{
        display: flex;
        flex-direction: column;
    }
    
    .container-main .alltext, .alltext3{
        width: 90%;
        text-align: center;
    }

    .container-main .alltext h1, .alltext3 h1{
        font-size: 30px;
    }

    .gambar-feature1, .gambar-feature2{
        width: 550px;
    }

    .container-main2 .alltext2{
        width: 93%;
        text-align: center;
        margin-bottom: 70px;
    }

    .alltext2 h1{
        text-align: center;
        font-size: 27px;
    }

    .alltext2 p{
        font-size: 14px;
    }

    .gambar-feature3{
        width: 650px;
    }

    .container-main3 .alltext3 p{
        font-size: 16px;
    }

    .container-main3{
        padding-top: 70px;
    }

    .alltext3{
        margin-bottom: 30px;
    }

    .container-main4{
        padding-top: 70px;
    }

    .alltext4{
        margin-bottom: 30px;
    }

    .alltext4{
        width: 95%;
        text-align: center;
        margin-bottom: 20px;
    }

    .alltext4 h1{
        font-size: 30px;
    }

    .alltext4 p{
        font-size: 15px;
    }

    .gambar-feature4{
        width: 600px;
    }

}

@media screen and (max-width: 959.33px) {
    .container-TJ h1{
        font-size: 30px;
    }

    .pertanyaan li label p{
        font-size: 18px;
    }

    .pertanyaan li label::after{
        font-size: 25px;
    }

    .container-col ul{
        grid-template-columns: repeat(2,1fr);
    }

    .pertanyaan .jawaban p{
        font-size: 18px;
    }
}
/*959.33*/
/*717.33*/
/*305.33*/
/*599.33*/
